p {
  display: flex;
  font-family: 'Franklin Gothic Medium',
   'Arial Narrow', Arial, sans-serif;
  border: 2px gray solid;
  border-radius: 15px;
  outline: grey solid;
  outline-width: 10px;
  outline-offset: 2px;
  margin: 75PX;

  box-shadow: rgb(187, 22, 118);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.div_1 {
  font-family: 'Franklin Gothic Medium',
  'Arial Narrow', Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-left: 65px;
  margin-right: 65px;
  padding: 40px;
  column-gap: 300px;
}

button { font-family: 'Franklin Gothic Medium',
  'Arial Narrow', Arial, sans-serif;
  height: 30px;
  border: 2px black solid;
  border-radius: 15px;
  
  
}
.nextButton {
  font-family: 'Franklin Gothic Medium',
   'Arial Narrow', Arial, sans-serif;
  background-color: white;
  border: 2px black solid;
 

}
.check {
  font-family: 'Franklin Gothic Medium',
  'Arial Narrow', Arial, sans-serif;
  float: left;
}
.div_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.div_3 {
  border: 1px gray solid;
  border-radius:20px ;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  
 
  margin: 30px;
}
.countDown{
  font-family: 'Franklin Gothic Medium',
   'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
}
#sb{
  font-family: 'Franklin Gothic Medium',
   'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-color: black;
}
h2{
  font-family: 'Franklin Gothic Medium',
  'Arial Narrow', Arial, sans-serif;
}
.div_4{

  display: flex;
  justify-content: center;
}
.countDown{display: grid;
  color: brown;
 justify-content: left;
}
.timer{
  font-family: 'Franklin Gothic Medium',
  'Arial Narrow', Arial, sans-serparentif;
  display: flex;
}

.welcome{
  font-family: 'Franklin Gothic Medium',
  'Arial Narrow', Arial, sans-serif;
  border: 1px gray solid;
  border-radius: 20px;
  display: grid;
  
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

@media  (max-width: 200px) {
  .div_1 {gap: 25px;
    grid-template-columns: 1fr 1fr

  }
 
}


@media (max-width: 200px){
  p{text-align: center;
   
    border:1px black solid ;
   outline-offset: 1px;
   outline-width: 3px;
   font-size: xx-small;
 
  
  }
}
@media(max-width: 200px){
  button{
    font-size: xx-small;
  }
  h2{
    font-size: xx-small;
  }
.box{
  justify-content: center;
}
}
